@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: "KT";
    font-display: swap;
    src: url('../font/LXGWWenKaiGB-Regular.ttf') format("truetype");
}


@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: "KK";
    font-display: swap;
    src: url('../font/霞鹜文楷.woff2') format("truetype");
}

@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: "Co";
    font-display: swap;
    src: url('../font/Consolas.woff2') format("truetype");
}

@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: "TT";
    font-display: swap;
    src: url('../font/甜甜圈海报字体.woff2') format("truetype");
}

@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: "ZM";
    font-display: swap;
    src: url('../font/筑紫A丸by宁静之雨.woff2') format("truetype");
}