#nav-right {
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}
/* 去除导航栏选项中底下的蓝条 */
#nav *::after {
  background-color: transparent !important;
}
/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover {
  font-size: 28px;
}
/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
/* 以下代表透明度为0.5 */
  background: rgba(255,255,255,0.8);
}
/*侧边栏页面*/
#aside-content>.card-widget {
  background: rgba(255,255,255,0.8);
}
#aside-content>.sticky_layout>.card-widget {
  background: rgba(255,255,255,0.8);
}
/*文章页面*/
.layout>#post {
  background: rgba(255,255,255,0.8);
}
/*分类页面*/
.layout>#page {
  background: rgba(255,255,255,0.8);
}
/*时间轴页面*/
.layout>#archive {
  background: rgba(255,255,255,0.8);
}
